<router-outlet></router-outlet>
<div class="content">
  <h1 class="title">Create</h1>
  <div class="server-overview">
    <img src="{{ current_image }}" alt="Server image" class="image" />
    <div class="informations">
      <p class="adress">{{ current_adress }}</p>
      <p class="description">{{ current_description }}</p>
    </div>
  </div>
  <div class="form">
    <div class="required">
      <label for="server-description">Description</label>
      <input
        id="server-description"
        [(ngModel)]="current_description"
        type="text"
      />
    </div>
    <div class="required">
      <label for="ram-min">Ram Minimum</label>
      <input id="ram-min" [(ngModel)]="ram_min" type="text" />
    </div>
    <div class="required">
      <label for="ram-max">Ram Maximum</label>
      <input id="ram-max" [(ngModel)]="ram_max" type="text" />
    </div>
  </div>
  <button class="create-button" (click)="createServer()">Create</button>
</div>
