<router-outlet></router-outlet>
<div class="content">
  <h1 class="title">Create</h1>
  <div class="server-overview">
    <img src="https://i.pinimg.com/564x/4a/16/1d/4a161d4d6fa53f0cba2152411e2e2159.jpg" alt="Server image"
      class="image" />
    <div class="informations">
      <p class="adress">Address</p>
      <p class="description">A minecraft server.</p>
    </div>
  </div>
  <button class="create-button" (click)="createServer('1.21.1', 'A minecraft server.', '2048', '1024', 'Vanilla')">Create</button>
</div>
